div {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("assets/book-cover.jpg");
    background-size:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
}